footer {
    background-color: black;
    padding: 20px;
    margin-top: auto;
}

.footer__items {
    display: flex;
    justify-content: space-around;
}

footer a {
    color: #ffff;
    text-decoration: none;
    padding: 5px;
    margin: 0 -4px;
    border-radius: 5px;
}



footer a i {
    vertical-align: baseline;
}

@media (max-width: 44rem) {
    .footer__items {
        flex-direction: column;
        align-items: center;
       }

       .footer__items a {
        margin-bottom: 2px;
       }
}