*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

#root {
  display: contents;
}

html, body {
  background-color: whitesmoke;
  font-family: sans-serif;
  line-height: 1.6;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  padding: 15px;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}