.panel__item {
    grid-column: span 12;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.63);
    padding: 11px;
}

.panels h2 {
    text-align: center;
}

.panel__item img {
    width: 125px;
    height: 125px;
    float: right;
    margin-right: 30px;
}