#homepage {
    display: grid;
    grid-template-areas: 
    "header header" 
    "localnav main"
    "footer footer" ;
    background-color: pink;
}


header{
    background-color: plum;
    
}
header{
    grid-area: header;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    
 }
 .menu li {
    padding: 20px;
    list-style-type: none;
 }
 .menu li:hover{
    background-color: rebeccapurple; 
    cursor: pointer;
 }

 .menu li:hover a {
    color: #ffff;
 }

 main{
    border-left:  solid 1px black;
    padding-left: 10px;
    padding-right: 10px;
    grid-area: main;
}


.local-menu{
    display: flex;
    flex-direction: column;
    grid-area: localnav;
    grid-template-rows: 25% 75%;

}




.local-menu li{
    padding: 15px;
    cursor: pointer;
}

nav li:hover{
    background-color: plum;
    color: white;
}



.local-menu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-left: 10px;
}



footer{
    background-color: plum;
    padding: 1.25%;
    grid-area: footer;
}